@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');



#vertical {
  min-height: initial;
  overflow: auto;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  margin-top: -15px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.geral {
  margin: 16px 140px 0px 140px;
  min-height: 100vh;
}

header .logo,
header nav,
.index-content,
.cadastro-content,
#consulta-content,
.pet-image {
  width: 50%;
}


.wrapper {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-index img {
  width: 58%;
  height: auto;
}

.image-cadastro img {
  width: 98%;
  height: auto;
}

.image-consultar img {
  width: 74%;
  height: auto;
}

.index-content span {
  color: #FD64A7;
}

.cadastro-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.consulta-content ul li {
  margin-left: 60px;
}



.bg-form {

  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

form div {
  margin: 16px;
}

label {
  display: inline-block;
  width: 120px;
  color: black
}

input {
  width: 200px;
  height: 30px;
  border-radius: 2px;
  display: block;
  margin-top: 2px;
  padding-left: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid white;
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
}

#btn-envio input,
#consulta-content input {
  display: inline-block;
  width: 98px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0;
  background-color: #DDCBFD;
  color: #2F1242;
  font-weight: 700;
  border: 0;
}

#btn-envio input:hover {
  background-color: #FFF;
  color: #2F1242;
}

#consulta-content input:hover {
  background-color: #b048c5;
  color: #FFF;
}

#registroPet::placeholder,
#nomePet::placeholder,
#tipoPet::placeholder,
#idadePet::placeholder {
  color: rgb(red, green, blue);
}